In [6]:
import pandas as pd
import numpy as np
import os 

#input for any file name
file_name=input("Enter File Name: ")
journey=input("Enter 'up' or 'down': ").lower()
file_path=os.path.join('week_data',journey, file_name)

if not os.path.isfile(file_path):
    print(f"Error: File '{file_name}' does not exist.")
else:
    df=pd.read_csv(file_path)

Enter File Name: 04-02-19.csv
Enter 'up' or 'down': down

In [7]:
#Only 519 buses
bus_no = int(input("Enter bus Number: "))
df = df[df['Schedule Name'].str.contains(rf'\b{bus_no}\b')]
df

Enter bus Number: 519

,WayBill No,Depot,Schedule Name,ETM No,Out Date,Out Time,In Date,In Time,Total Amount,Adult,...,Trip No,Concession,Conductor ID,Driver ID,Trip Start Date,Trip Start Time,Trip End Date,Trip End Time,Source,Destination
1476,A00079,KANNAGI NAGAR,519-Q-AS-MDE,MP17085J,04-02-2019,22:48.0,04-02-2019,18:35.0,27,1,...,2,0,RC0233,D55184,03-02-2019,00:40:00,03-02-2019,01:09:00,THIRUPORUR,T.NAGAR
1477,O00273,ADYAR,519-A1-AS-MDE,MP00675K,04-02-2019,51:08.0,04-02-2019,53:56.0,39,1,...,3,0,C58861,D58524,04-02-2019,06:50:00,04-02-2019,08:30:00,THIRUPORUR,T.NAGAR
1478,O00273,ADYAR,519-A1-AS-MDE,MP00675K,04-02-2019,51:08.0,04-02-2019,53:56.0,41,1,...,3,0,C58861,D58524,04-02-2019,06:50:00,04-02-2019,08:30:00,THIRUPORUR,T.NAGAR
1479,O00273,ADYAR,519-A1-AS-MDE,MP00675K,04-02-2019,51:08.0,04-02-2019,53:56.0,37,1,...,3,0,C58861,D58524,04-02-2019,06:50:00,04-02-2019,08:30:00,THIRUPORUR,T.NAGAR
1480,O00273,ADYAR,519-A1-AS-MDE,MP00675K,04-02-2019,51:08.0,04-02-2019,53:56.0,37,1,...,3,0,C58861,D58524,04-02-2019,06:50:00,04-02-2019,08:30:00,THIRUPORUR,T.NAGAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38761,B00169,T.NAGAR,519-X1-AS-MDE,MP00909L,04-02-2019,53:43.0,04-02-2019,53:59.0,13,1,...,1,0,C54057,D54419,04-02-2019,18:23:00,04-02-2019,20:49:00,THIRUPORUR,T.NAGAR
38762,B00169,T.NAGAR,519-X1-AS-MDE,MP00909L,04-02-2019,53:43.0,04-02-2019,53:59.0,17,1,...,1,0,C54057,D54419,04-02-2019,18:23:00,04-02-2019,20:49:00,THIRUPORUR,T.NAGAR
38763,B00169,T.NAGAR,519-X1-AS-MDE,MP00909L,04-02-2019,53:43.0,04-02-2019,53:59.0,15,1,...,1,0,C54057,D54419,04-02-2019,18:23:00,04-02-2019,20:49:00,THIRUPORUR,T.NAGAR
38764,B00169,T.NAGAR,519-X1-AS-MDE,MP00909L,04-02-2019,53:43.0,04-02-2019,53:59.0,13,1,...,1,0,C54057,D54419,04-02-2019,18:23:00,04-02-2019,20:49:00,THIRUPORUR,T.NAGAR
38765,B00169,T.NAGAR,519-X1-AS-MDE,MP00909L,04-02-2019,53:43.0,04-02-2019,53:59.0,33,3,...,1,0,C54057,D54419,04-02-2019,18:23:00,04-02-2019,20:49:00,THIRUPORUR,T.NAGAR

In [8]:
source_stage=input("Enter source stage: ")
destination_stage=input("Enter destination stage: ")

df=df[(df['Source']==source_stage) & (df['Destination']==destination_stage)]

df['Trip Start Time'] = pd.to_datetime(df['Trip Start Time'], format='%H:%M:%S')
df['Trip End Time'] = pd.to_datetime(df['Trip End Time'], format='%H:%M:%S')

cols=['Schedule Name','Adult','Trip Start Time','Trip End Time','Source','Destination']
df=df.sort_values(by='Trip Start Time')
df=df[cols]
df

Enter source stage: THIRUPORUR
Enter destination stage: T.NAGAR

/var/folders/2g/gwwm3zn90zl4tt8sy0sfn9zh0000gn/T/ipykernel_47260/4229162723.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Trip Start Time'] = pd.to_datetime(df['Trip Start Time'], format='%H:%M:%S')
/var/folders/2g/gwwm3zn90zl4tt8sy0sfn9zh0000gn/T/ipykernel_47260/4229162723.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Trip End Time'] = pd.to_datetime(df['Trip End Time'], format='%H:%M:%S')

,Schedule Name,Adult,Trip Start Time,Trip End Time,Source,Destination
1517,519-N1-AS-MDE,1,1900-01-01 00:02:01,1900-01-01 01:20:01,THIRUPORUR,T.NAGAR
1526,519-N1-AS-MDE,2,1900-01-01 00:02:01,1900-01-01 01:20:01,THIRUPORUR,T.NAGAR
5898,519-N1-AS-MDE,1,1900-01-01 00:02:01,1900-01-01 01:20:01,THIRUPORUR,T.NAGAR
1503,519-N1-AS-MDE,1,1900-01-01 00:02:01,1900-01-01 01:20:01,THIRUPORUR,T.NAGAR
5900,519-N1-AS-MDE,1,1900-01-01 00:02:01,1900-01-01 01:20:01,THIRUPORUR,T.NAGAR
...,...,...,...,...,...,...
38735,519-X1-AS-MDE,1,1900-01-01 21:26:27,1900-01-01 22:40:27,THIRUPORUR,T.NAGAR
38726,519-X1-AS-MDE,1,1900-01-01 21:26:27,1900-01-01 22:40:27,THIRUPORUR,T.NAGAR
38736,519-X1-AS-MDE,1,1900-01-01 21:26:27,1900-01-01 22:40:27,THIRUPORUR,T.NAGAR
34534,519-T1-AS-MDE,1,1900-01-01 21:38:12,1900-01-01 22:27:12,THIRUPORUR,T.NAGAR
38730,519-T1-AS-MDE,1,1900-01-01 21:38:12,1900-01-01 22:27:12,THIRUPORUR,T.NAGAR

In [9]:
df['Duration'] = df['Trip End Time'] - df['Trip Start Time']
df['Trip Start Time'] = df['Trip Start Time'].dt.time
df['Trip End Time'] = df['Trip End Time'].dt.time
df['Duration'] = df['Duration'].apply(lambda x: str(x).split()[-1])
df['Passenger Count'] = df.groupby(['Schedule Name', 'Trip Start Time', 'Trip End Time'])['Adult'].transform('sum')

df=df.drop(columns=['Adult'])

df=df.drop_duplicates()
print(df.to_string(index=False))

Schedule Name Trip Start Time Trip End Time     Source Destination Duration  Passenger Count
519-N1-AS-MDE        00:02:01      01:20:01 THIRUPORUR     T.NAGAR 01:18:00               50
 519-Q-AS-MDE        00:40:00      01:09:00 THIRUPORUR     T.NAGAR 00:29:00               23
519-N1-AS-MDE        01:26:00      01:34:00 THIRUPORUR     T.NAGAR 00:08:00               56
519-G1-AS-MDE        05:05:31      06:06:31 THIRUPORUR     T.NAGAR 01:01:00               35
519-M1-AS-MDE        05:23:56      06:35:56 THIRUPORUR     T.NAGAR 01:12:00               23
519-T1-AS-MDE        06:04:00      06:44:00 THIRUPORUR     T.NAGAR 00:40:00                5
 519-R-AS-MDE        06:27:08      07:44:08 THIRUPORUR     T.NAGAR 01:17:00               47
519-E1-AS-MDE        06:48:00      08:56:00 THIRUPORUR     T.NAGAR 02:08:00               38
519-A1-AS-MDE        06:50:00      08:30:00 THIRUPORUR     T.NAGAR 01:40:00               25
519-B1-AS-MDE        06:58:00      08:41:00 THIRUPORUR     T.NAGAR 01:43:00               43
519-F1-AS-MDE        07:06:00      09:32:00 THIRUPORUR     T.NAGAR 02:26:00               93
519-C1-AS-MDE        07:07:00      09:06:00 THIRUPORUR     T.NAGAR 01:59:00               32
519-D1-AS-MDE        07:23:00      09:17:00 THIRUPORUR     T.NAGAR 01:54:00               73
519-H1-AS-MDE        07:34:00      09:57:00 THIRUPORUR     T.NAGAR 02:23:00              103
 519-S-AS-MDE        07:44:00      10:14:00 THIRUPORUR     T.NAGAR 02:30:00               81
519-W1-AS-MDE        07:45:00      10:21:00 THIRUPORUR     T.NAGAR 02:36:00               52
519-I1-AS-MDE        07:52:00      10:12:00 THIRUPORUR     T.NAGAR 02:20:00               72
519-G1-AS-MDE        07:57:00      10:40:00 THIRUPORUR     T.NAGAR 02:43:00               73
519-M1-AS-MDE        08:22:27      10:32:27 THIRUPORUR     T.NAGAR 02:10:00               67
519-O1-AS-MDE        08:37:00      10:48:00 THIRUPORUR     T.NAGAR 02:11:00               51
519-L1-AS-MDE        08:55:00      11:04:00 THIRUPORUR     T.NAGAR 02:09:00               96
519-T1-AS-MDE        09:04:00      11:39:00 THIRUPORUR     T.NAGAR 02:35:00               97
519-V1-AS-MDE        09:08:00      11:18:00 THIRUPORUR     T.NAGAR 02:10:00               17
 519-R-AS-MDE        09:41:00      11:28:00 THIRUPORUR     T.NAGAR 01:47:00               25
519-Z1-AS-MDE        10:23:00      13:46:00 THIRUPORUR     T.NAGAR 03:23:00               96
519-A1-AS-MDE        10:47:00      12:41:00 THIRUPORUR     T.NAGAR 01:54:00               75
519-B1-AS-MDE        10:59:07      12:54:07 THIRUPORUR     T.NAGAR 01:55:00               66
519-X1-AS-MDE        11:14:56      12:44:56 THIRUPORUR     T.NAGAR 01:30:00               69
519-E1-AS-MDE        11:15:00      13:00:00 THIRUPORUR     T.NAGAR 01:45:00               46
519-C1-AS-MDE        11:16:17      12:47:17 THIRUPORUR     T.NAGAR 01:31:00               61
519-V1-AS-MDE        11:18:29      11:22:29 THIRUPORUR     T.NAGAR 00:04:00                2
519-D1-AS-MDE        11:26:00      13:15:00 THIRUPORUR     T.NAGAR 01:49:00               20
519-H1-AS-MDE        11:45:00      13:40:00 THIRUPORUR     T.NAGAR 01:55:00               58
519-F1-AS-MDE        11:45:19      13:08:19 THIRUPORUR     T.NAGAR 01:23:00               58
 519-S-AS-MDE        11:57:00      13:49:00 THIRUPORUR     T.NAGAR 01:52:00               39
519-I1-AS-MDE        12:00:00      13:53:00 THIRUPORUR     T.NAGAR 01:53:00               54
519-O1-AS-MDE        12:29:00      14:13:00 THIRUPORUR     T.NAGAR 01:44:00               45
519-G1-AS-MDE        12:32:00      14:15:00 THIRUPORUR     T.NAGAR 01:43:00               48
519-M1-AS-MDE        12:40:27      14:18:27 THIRUPORUR     T.NAGAR 01:38:00               65
519-L1-AS-MDE        13:02:00      15:05:00 THIRUPORUR     T.NAGAR 02:03:00               44
519-V1-AS-MDE        13:11:00      15:04:00 THIRUPORUR     T.NAGAR 01:53:00               50
 519-Q-AS-MDE        13:13:00      14:57:00 THIRUPORUR     T.NAGAR 01:44:00               49
 519-R-AS-MDE        13:13:00      15:01:00 THIRUPORUR     T.NAGAR 01:48:00               19
519-A1-AS-MDE        14:29:51      16:00:51 THIRUPORUR     T.NAGAR 01:31:00               67
519-B1-AS-MDE        14:36:44      16:18:44 THIRUPORUR     T.NAGAR 01:42:00               51
519-X1-AS-MDE        14:49:51      16:24:51 THIRUPORUR     T.NAGAR 01:35:00               48
519-C1-AS-MDE        14:50:00      16:22:00 THIRUPORUR     T.NAGAR 01:32:00               51
519-E1-AS-MDE        14:51:00      16:31:00 THIRUPORUR     T.NAGAR 01:40:00               51
519-F1-AS-MDE        14:52:00      16:38:00 THIRUPORUR     T.NAGAR 01:46:00               10
519-D1-AS-MDE        14:58:00      16:44:00 THIRUPORUR     T.NAGAR 01:46:00               11
519-H1-AS-MDE        15:10:00      17:01:00 THIRUPORUR     T.NAGAR 01:51:00               53
519-Z1-AS-MDE        15:18:00      17:00:00 THIRUPORUR     T.NAGAR 01:42:00               69
519-W1-AS-MDE        15:34:00      17:35:00 THIRUPORUR     T.NAGAR 02:01:00               16
519-I1-AS-MDE        15:45:00      17:27:00 THIRUPORUR     T.NAGAR 01:42:00               69
 519-S-AS-MDE        15:49:00      17:50:00 THIRUPORUR     T.NAGAR 02:01:00               56
519-G1-AS-MDE        15:57:00      17:53:00 THIRUPORUR     T.NAGAR 01:56:00                2
519-M1-AS-MDE        16:19:59      18:04:59 THIRUPORUR     T.NAGAR 01:45:00               41
519-O1-AS-MDE        16:27:00      18:10:00 THIRUPORUR     T.NAGAR 01:43:00               18
519-L1-AS-MDE        16:34:00      18:50:00 THIRUPORUR     T.NAGAR 02:16:00               98
 519-Q-AS-MDE        16:48:00      18:58:00 THIRUPORUR     T.NAGAR 02:10:00               44
519-V1-AS-MDE        16:52:00      19:19:00 THIRUPORUR     T.NAGAR 02:27:00               82
 519-R-AS-MDE        16:58:59      18:53:59 THIRUPORUR     T.NAGAR 01:55:00               40
519-X1-AS-MDE        17:11:32      19:25:32 THIRUPORUR     T.NAGAR 02:14:00               66
519-A1-AS-MDE        18:14:06      20:19:06 THIRUPORUR     T.NAGAR 02:05:00               76
519-B1-AS-MDE        18:17:11      20:33:11 THIRUPORUR     T.NAGAR 02:16:00               81
519-X1-AS-MDE        18:23:00      20:49:00 THIRUPORUR     T.NAGAR 02:26:00               45
519-C1-AS-MDE        18:33:00      20:33:00 THIRUPORUR     T.NAGAR 02:00:00               60
519-E1-AS-MDE        18:38:00      20:37:00 THIRUPORUR     T.NAGAR 01:59:00               53
519-H1-AS-MDE        18:59:00      21:20:00 THIRUPORUR     T.NAGAR 02:21:00               50
519-Z1-AS-MDE        19:13:00      22:41:00 THIRUPORUR     T.NAGAR 03:28:00               95
519-I1-AS-MDE        19:13:00      21:06:00 THIRUPORUR     T.NAGAR 01:53:00               80
519-W1-AS-MDE        19:33:00      21:26:00 THIRUPORUR     T.NAGAR 01:53:00               64
 519-S-AS-MDE        20:39:53      21:49:53 THIRUPORUR     T.NAGAR 01:10:00               29
 519-R-AS-MDE        21:02:00      22:01:00 THIRUPORUR     T.NAGAR 00:59:00               23
519-L1-AS-MDE        21:06:00      22:42:00 THIRUPORUR     T.NAGAR 01:36:00               35
519-X1-AS-MDE        21:26:27      22:40:27 THIRUPORUR     T.NAGAR 01:14:00                7
519-T1-AS-MDE        21:38:12      22:27:12 THIRUPORUR     T.NAGAR 00:49:00                2

In [10]:
df.to_excel('passenger_count_down04.xlsx')